/* This file is @import "tailwindcss";
not used - all styles are in @/styles/globals.css */
@import "tailwindcss";
.react-tel-input .form-control {
    width: 100% !important;
    height: 0 !important;
}